.content{
    width: fit-content;
    margin: auto;
}

h1{
    width: fit-content;
    margin: auto;
    padding-bottom: 50px;
}

#instructions{
    width: fit-content;
    margin: auto;
    padding-top: 30px;
}